
*, *::before, *::after {
    box-sizing: inherit;
    transition: .2s all ease;
} //inheriting box sizing

html {
    font-size: 62.5%; // Defining rem value
}

body {
    box-sizing: border-box;
    margin: 0 auto;
} // sets the box sizing;

.wrapper {
    max-width: 96rem;
    margin: 0 auto;

    @include respond (md) {
        max-width: 76.8rem;
    }

    @include respond (sm) {
        max-width: 48rem;
    }
    
    @include respond (xs) {
        max-width: 32rem;
    }
} // defines overall wrapper for the page
