
*, *::before, *::after {
    box-sizing: inherit;
} //inheriting box sizing

html {
    font-size: 62.5%; // Defining rem value
}

body {
    box-sizing: border-box;
    vertical-align: baseline;
    width: 100%;
    margin: 0 auto;
} // sets the box sizing;

.wrapper {
    width: 96rem;
    margin: 0 auto;
    @include respond(md) {
        width: 76.8rem;
    } 
} // defines overall wrapper for the page
