.header {
    width: 100%;

    .wrapper {
        position: relative;
    } //wrapper ends

    &__wrapper--top {
        height: 27.8rem;

        @include respond (sm) {
            height: 20.2rem;
        }

        @include respond (xs) {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

    }

    &__top {
        height: 84.5rem;
        background-image: url(../img/bg.jpg);
        background-position: center;
        background-size: cover;    
        @include respond (sm) {
            height: 54.8rem;
        }      

        @include respond (xs) {
            height: 51.6rem;
        }
    } //header__top ends

    &__menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 7rem;
        
        @include respond (md) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 16rem;
        }

        @include respond (sm) {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 16rem;
        }

        @include header-footer-menu (header) { 

            &--logo { 
                display: inline-block;
                height: 4rem;
                width: 15.2rem;
                text-decoration: none;
                text-shadow: 1px 1px 2px black;
                
                    p {
                        font-size: 4.8rem;
                        text-decoration: none;
                        font-family: $main-font;
                        color: #fff;

                        span {
                            font-size: 4.8rem;
                            background: -webkit-linear-gradient(#734f82, #392a41);
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            text-shadow: none;
                        } // span for header logo p ends 
                    } // header__menu--logo p ends
            } // header__menu--logo ends       
        } // mixin for a header menu ends
    } // header__menu ends
    &__arrow {
        
        &--1 {
            @include arrow-generator (-45deg, left, -2.5vw);//mixin for arrows

            @include respond(md) {
                @include arrow-generator (-45deg, left, -2.5vw);
            }

            @include respond(xs) {
                @include arrow-generator (-45deg, left, -7.5vw);
            }
        } //1 
        
        &--2 {
            @include arrow-generator (-225deg, right, -2.5rem);//mixin for arrows
            
            @include respond(md) {
                @include arrow-generator (-225deg, right, -1.5rem);
            }

            @include respond(xs) {
                @include arrow-generator (-225deg, right, -2.5rem);
            }
        } //2
    } // code for arrows ends 
    &__overlay {
        position: relative;

        &--backdrop {
            height: 40rem;
            width: 100%;
            display: flex;
            background-color: rgba(0,0,0,0.2);
            flex-direction: row;
            align-items: center;

            @include respond (sm) {
                height: 24.6rem;
            }
            
            @include respond (xs) {
                height: 5.5rem;
                background-color: transparent;
                margin-top: 9.5rem;
            }
        } // code for header__overlay--backdrop ends 

        &--logo {
            position: relative;
            top: -.3rem;
            margin-left: 7.5rem;
            @include respond (sm) {
                margin-left: 1.7rem;
            }
            img {
                @include respond (sm) {
                    height: 26.5rem;
                    width: 18.5rem;
                }
            }
            @include respond (xs) {
                display: none;
            }
        } // code for header__overlay--logo ends 

        &--info {
            display: flex;
            flex-direction: row;
            font-family: $main-font;
            align-items: center;
        } // code for header__overlay--info ends 

        &--description { 
            display: flex;
            flex-direction: column;
            width: 51rem;
            hyphens: auto;
            text-align: justify;
            @include respond (md) {
                width: 30rem;
            }
            @include respond (md) {
                width: 20.5rem;
            }

            &--heading_lg {
                font-size: 6rem;
                opacity: none;
                color: #fff;

                @include respond (md) {
                    font-size: 4.8rem;
                    letter-spacing: .1rem;
                }
                @include respond (md) {
                    font-size: 3.6rem;
                    letter-spacing: .1rem;
                    width: 20.5rem;
                }
            } // large heading style

            &--heading_md {
                font-size: 3.2rem;
                color: #edbfff;

                @include respond (md) {
                    font-size: 2.4rem;
                }
            } // middle heading style
            
            &--heading_text {
                font-size: 1.8rem;
                color: #d4d2d6;
                text-shadow: 1px 1px #000000;
                font-family: 'Open Sans', sans-serif;
                line-height: 1.5rem;
                
                @include respond (md) {
                    font-size: 1.6rem;
                }

                @include respond (sm) {
                    display: none;
                }
            } // slyle for text of heading
        } // code for header__overlay--description ends 
    } //header__overlay ends

    &__slider {
        @include slider-generator(1.7rem, 1.7rem, #4d4b57, #f5f5f5, 47.5rem, 67.5rem); //a mixin for slider bullet-ponts

        @include respond (md) {
            @include slider-generator(1.7rem, 1.7rem, #4d4b57, #f5f5f5, 44.5rem, 23.5rem); //a mixin for slider bullet-ponts
        }
        @include respond (sm) {
            @include slider-generator(1.7rem, 1.7rem, #4d4b57, #f5f5f5, 29.5rem, 15.5rem); //a mixin for slider bullet-ponts
        }
        @include respond (xs) {
            @include slider-generator(1.7rem, 1.7rem, #4d4b57, #f5f5f5, 13.5rem, 5.5rem); //a mixin for slider bullet-ponts
        }
    }

} //.header ends
