.header {
    width: 100%;
    .wrapper {
        position: relative;
    } //wrapper ends

    &__wrapper--top {
        height: 27.8rem;
    }

    &__top {
        height: 84.5rem;
        background-image: url(../img/bg.jpg);
        background-position: center;
        background-size: cover;          
    } //header__top ends

    &__menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 7rem;

        @include header-footer-menu () { 

            &--logo { 
                display: inline-block;
                height: 4rem;
                width: 15.2rem;
                text-decoration: none;
                text-shadow: 1px 1px 2px black;
                
                    p {
                        font-size: 4.8rem;
                        text-decoration: none;
                        font-family: $main-font;
                        color: #fff;

                        span {
                            font-size: 4.8rem;
                            background: -webkit-linear-gradient(#734f82, #392a41);
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            text-shadow: none;
                        } // span for header logo p ends 
                    } // header__menu--logo p ends
            } // header__menu--logo ends       
        } // mixin for a header menu ends
    } // header__menu ends
    &__arrow {
        
        &--1 {
            @include arrow-generator (-45deg, left, .5vw);//mixin for arrows

            @include respond(md) {
                @include arrow-generator (-45deg, left, 1.5vw);
            }
        } //1 
        
        &--2 {
            @include arrow-generator (-225deg, right, 6.5rem);//mixin for arrows
            
            @include respond(md) {
                @include arrow-generator (-225deg, right, 7.5rem);
            }
        } //2
    } // code for arrows ends 
    &__overlay {
        position: relative;

        &--backdrop {
            height: 40rem;
            width: 100%;
            display: flex;
            background-color: rgba(0,0,0,0.2);
            flex-direction: row;
            align-items: center;
        } // code for header__overlay--backdrop ends 

        &--logo {
            position: relative;
            top: -.3rem;
            margin-left: 7.5rem;
        } // code for header__overlay--logo ends 

        &--info {
            display: flex;
            flex-direction: row;
            font-family: $main-font;
            align-items: center;
        } // code for header__overlay--info ends 

        &--description { 
            display: flex;
            flex-direction: column;
            width: 51rem;
            hyphens: auto;
            text-align: justify;
            padding-left: 4rem;

            &--heading_lg {
                font-size: 6rem;
                opacity: none;
                color: #fff;
            } // large heading style

            &--heading_md {
                font-size: 3.2rem;
                color: #edbfff
            } // middle heading style
            
            &--heading_text {
                font-size: 1.8rem;
                color: #d4d2d6;
                text-shadow: 1px 1px #000000;
                font-family: 'Open Sans', sans-serif;
                line-height: 1.5rem;
            } // slyle for text of heading
        } // code for header__overlay--description ends 
    } //header__overlay ends

    &__slider {
        @include slider-generator(1.7rem, 1.7rem, #f5f5f5, 47.5rem, 67.5rem); //a mixin for slider bullet-ponts
    }

} //.header ends

@include respond(md) {
    .header__menu {
        height: 17.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: space-between;
    }
}