.main {

    /* main__info block */
    &__info {
        display: flex;
        height: 34rem;
        background: linear-gradient(#724f81, #34263b);
        border-top: 1px solid #33253a;
        border-bottom: 1px solid #1d2f37;
        align-items: center;
        
        &--wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        } // the end of custom main__info--wrapper code

        &--about {
            display: flex;
            flex-direction: row;
            justify-content: center;
            &_icon {
                display: flex;
                justify-content: center;
                position: relative;
                top: .6rem;
                width: 5.3rem;
                
                img {
                    height: 2.5rem;
                    width: 2.5rem;
                }
            }

            &_text {
                display: flex;
                flex-direction: column;
                h1 {
                    font-size: 3rem;
                    font-family: $main-font;
                    color: #fff;
                    text-shadow: 1px 1px #000000;
                }

                p {
                    font-size: 1.6rem;
                    text-shadow: 1px 1px 1px #000000;
                    color: #d4d2d6;
                    text-align: left;
                    hyphens: auto;
                    width: 22.3rem;
                    margin-top: 1.8rem;
                }

                a {
                    font-size: 1.8rem;
                    display: block;
                    text-shadow: 1px 1px 1px #000000;
                    font-family: $main-font;
                    color: #fff;
                    text-transform: uppercase;
                    text-decoration: none;
                    align-self: flex-end;
                    margin-top: 2.7rem;
                    margin-right: 2rem;
                        &:hover {
                            text-shadow: 1px 1px .5rem #fff;
                        }
                }

            }
        }

        &--underline {
            height: 1px;
            width: 100%;
            background-color: #000000;
        }
    } // the end of main__info code

    /* main_description block */

    &__description {
        position: relative;
        background: #f9f9f9;
        box-shadow: 1px -1px 10px 0px rgba(0,0,0,0.05);
        &--wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        } // custom wrapper for description 
            &--comment {
                display: flex;
                position: relative;
                flex-direction: column;
                justify-content: space-around;
                box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.05);
                width: 42.7rem;
                height: 27rem;
                margin-top: 10rem;
                margin-right: 0;
                padding: 3.3rem;
                background: #fff;
                @include triangle-generator (1.4rem, bottom, #fff, 45deg, 25.5rem, 37rem); // triangle for a comment box

                
                @include respond(md) {
                    width: 50%;
                }

                &_icon {
                    position: absolute;
                    top: 2.5rem;
                    left: -2.5rem;
                } //styles for an icon

                &_heading {
                    font-family: $main-font;
                    color: $primary-color;
                    font-size: 3rem;
                    text-transform: uppercase;
                    span {
                        color: #edbfff;
                    }
                } // main__description--comment_heading ends

                &_text {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.6rem;
                    hyphens: auto;
                } // text-styling
            } // the end of the main__description--comment block

            &--updates {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 26.5rem;
                margin-top: 14em;
                width: 44.5rem;

                @include respond(md) {
                    width: 45%;
                }

                &_heading {
                    font-family: $main-font;
                    font-size: 3rem;
                    color: $primary-color;
                    text-shadow: 0 0 1px #838383;
                    text-transform: uppercase;
                } // main__description--updates_heading code

                &_body {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 18rem;

                    &-element {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        img {
                            width: 4.9rem;
                            height: 4.9rem;
                        } // image of an updater

                        div {
                            display: flex;
                            flex-direction: column;
                            padding-left: 1.7rem;
                            h2 {
                                color: $primary-color;
                                font-size: 1.6rem;
                                text-align: left;
                                font-family: 'Open Sans', sans-serif;
                                overflow: hidden;
                                font-weight: bold;
                                text-shadow: 0 0 1px #838383;
                            } // update heading 

                            p {
                                color: $primary-color;
                                font-size: 1.6rem;
                                text-align: left;
                                font-family: 'Open Sans', sans-serif;
                                overflow: hidden;
                            } // update text
                        } // div that contains all the text ends here 
                    } // end of an element code of main__description--updates_body
                } // main__description--updates_body finishes here
                &_link {
                    font-family: $main-font;
                    font-size: 1.6rem;
                    color: $primary-color;
                    text-align: right;
                    text-transform: uppercase;
                    text-decoration: none;
                    &:hover {
                        text-shadow: 1px 1px .5rem #fff;
                    }
                } //link for main__description--updates
            } // the end of the main_description--updates block
        &--underline {
            height: 1px;
            width: 100%;
            background-color: #e6e6e6;

            
            @include respond(md) {
                display: none;
            }

        } //underline for a section 
        &--brands { 
            margin: 0 auto;
    
            &-1 {
                background-image: url(../img/logos.png);
                width: 77.6rem;
                height: 6.7rem;
                margin-top: 10rem;
                margin-bottom: 5rem;
                cursor: pointer;
            }
        } // brands picture
        &--slider {
            @include slider-generator(1.5rem, 1.5rem, #f5f5f5, 29.5rem, 15.5rem);
        } // a mixin for a would be carousel slider bullet poined 
        .underline {
            position: absolute;
            height: 1px;
            width: 100%;
            background-color: #e6e6e6;
            top: 46rem;
        } // underline for the block body
    }

    /* main__comments block */

    &__comments { 
        height: 39.6rem;
        background-color: #ececec;
        
        &--wrapper {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        } // a custom wrapper for a comments article

        &--article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-shadow: 1px 1px 1px #ffffff;

            &_logo {
                font-family: $main-font;
                font-size: 4.8rem;
                color: $primary-color;
                text-shadow: 0 0 1px #838383;
                text-transform: uppercase;

                    span { 
                        color: #b9b9b9;
                    } // 2 letters' span

            } // styles for main__comments--article_copyright logo

            &_copyright {
                font-family: 'Georgia', 'Times New Roman', serif;
                font-size: 1.6rem;
                font-style: italic;
                color: #c5c5c5;
                padding-bottom: 1rem;
            } // a copyright text for main__comments--article_copyright

            &_heading {
                font-family: $main-font;
                font-size: 3rem;
                color: $primary-color;
                text-align: left;
                padding-bottom: .8rem;
                text-transform: uppercase;
            } // main__comments--article_heading

            &_text {
                font-family: 'Open Sans', sans-serif;
                color: #787878;
                font-size: 1.6rem;
                text-align: justify;
                line-height: 1.5rem;
                letter-spacing:-0.06rem;
                width: 27rem;
                hyphens: auto;
            } // main_comments--article_text block ends here
        } // main__comments--article section 
    } //the end of the main__comments section
}//The end of the main block 